{% extends 'Tcore/base.html' %}

<!-- ========== Start bloque titulo ========== -->

{% block titulo %}
    Mi Web
{% endblock  %}
<!-- ========== End bloque titulo ========== -->

<!-- ========== Start bloque background ========== -->

{% block background %}
    {% load static %}
    {% static 'Tcore/img/about-bg.jpg' %}
{% endblock  %}
<!-- ========== End bloque background ========== -->


<!-- ========== Start bloque header ========== -->

{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock  %}
<!-- ========== End bloque header ========== -->

<!-- ========== Start bloque contenido ========== -->

{% block content %}
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'Tcore/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Juan David Ubaque</h2>   
        <p>Nacido en... lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit...</p>
    </div>
{% endblock  %}
<!-- ========== End bloque contenido ========== -->
