{% extends 'Tcore/base.html' %}

<!-- ========== Start bloque titulo ========== -->

{% block titulo %}
    Mi Web
{% endblock  %}
<!-- ========== End bloque titulo ========== -->

<!-- ========== Start bloque background ========== -->

{% block background %}
    {% load static %}
    {% static 'Tcore/img/home-bg.jpg' %}
{% endblock  %}
<!-- ========== End bloque background ========== -->


<!-- ========== Start bloque header ========== -->

{% block headers %}
    <h1>Juan David Ubaque</h1>
    <span class="subheading">Estudiante ADSO</span>
{% endblock  %}
<!-- ========== End bloque header ========== -->

<!-- ========== Start bloque contenido ========== -->


<!-- ========== End bloque contenido ========== -->
